<div
  class="fixed left-0 top-0 h-full transition-all duration-300 z-40 border-r"
  [ngClass]="isOpen ? 'w-64' : 'w-16'"
>
  <div class="px-4 pt-4">
    <div class="flex justify-between items-center gap-2">
      @if (isOpen) {
      <header>
        <a routerLink="/" class="flex gap-2 items-center">
          <img
            src="PhantomGG_LOGO.png"
            alt="Logo"
            class="w-10 h-10 rounded-2xl"
          />
          <span class="font-bold text-lg">PhantomGG</span>
        </a>
      </header>
      }

      <button (click)="toggle.emit()" class="p-2 cursor-pointer rounded-lg">
        <lucide-angular [img]="MenuIcon" class="h-5 w-5"></lucide-angular>
      </button>
    </div>
  </div>

  <div class="p-4">
    <div class="mb-6">
      @if (isOpen) {
      <h3 class="text-sm font-medium mb-3">Navigation</h3>
      }

      <nav class="space-y-1">
        @for (menu of menuItems; track menu.title) {
        @if(menu.roles.includes(userRole)) {
        <a
          [routerLink]="menu.url"
          routerLinkActive="bg-gray-400/40"
          class="flex w-full items-center gap-3 pl-1.5 pr-2 py-2 rounded-lg group text-sm font-medium hover:bg-gray-400/40"
        >
          <lucide-angular [img]="menu.icon" class="h-5 w-5"></lucide-angular>

          @if (isOpen) {
          <span>{{ menu.title }}</span>
          }
        </a>
        } }
      </nav>
    </div>

    <div class="mb-6">
      @if (isOpen) {
      <h3 class="text-sm font-medium mb-3">Quick Actions</h3>
      }

      <nav class="space-y-1">
        @for (quickAction of quickActions; track quickAction.title) { @if
        (quickAction.roles.includes(userRole)) {
        <a
          [routerLink]="quickAction.url"
          routerLinkActive="bg-gray-400/40"
          class="flex items-center gap-3 pl-1.5 pr-2 py-2 rounded-lg group text-sm font-medium hover:bg-gray-400/40"
        >
          <lucide-angular
            [img]="quickAction.icon"
            class="h-5 w-5"
          ></lucide-angular>

          @if (isOpen) {
          <span>{{ quickAction.title }}</span>
          }
        </a>
        } }
      </nav>
    </div>
  </div>

  <div class="absolute bottom-0 w-full p-4">
    <app-footer [isOpen]="isOpen"></app-footer>
  </div>
</div>
