<div (click)="onView()" class="card flex flex-col gap-3 p-3">
  <div class="flex gap-2">
    <img
      [src]="tournament().logoUrl"
      [alt]="tournament().name"
      class="w-12 h-12 object-contain rounded-md"
    />
    <div class="flex-1">
      <span class="font-semibold text-md line-clamp-2">
        {{ tournament().name }}
      </span>
    </div>
    <div class="flex flex-col">
      <span class="font-semibold text-xs py-1 btn btn-outline px-2">
        {{ getStatus() }}
      </span>
    </div>
  </div>

  <div
    class="border p-2 rounded-md text-xs text-muted h-[48px] btn-outline cursor-pointer"
  >
    <span class="line-clamp-2">{{ tournament().description }}</span>
  </div>

  <div class="grid grid-cols-3 gap-2">
    <div
      class="border flex flex-col px-4 py-2 btn-outline cursor-pointer rounded-md text-muted justify-center items-center"
    >
      <lucide-angular size="14" [img]="icons.Users" />
      <div class="flex flex-col gap-1 text-center text-xs font-semibold">
        <span class="line-clamp-1">Location</span>
        <span class="line-clamp-1">{{ tournament().location }}</span>
      </div>
    </div>

    <div
      class="border flex flex-col px-4 py-2 btn-outline cursor-pointer rounded-md text-muted justify-center items-center"
    >
      <lucide-angular size="14" [img]="icons.Users" />
      <div class="flex flex-col gap-1 text-center text-xs font-semibold">
        <span class="line-clamp-1">Teams</span>
        <span class="line-clamp-1">
          {{ tournament().teamCount }} / {{ tournament().maxTeams }}
        </span>
      </div>
    </div>

    <div
      class="border flex flex-col px-4 py-2 btn-outline cursor-pointer rounded-md text-muted justify-center items-center"
    >
      <lucide-angular size="14" [img]="icons.Trophy" />
      <div class="flex flex-col gap-1 text-center text-xs font-semibold">
        <span class="line-clamp-1">Format</span>
        <span class="line-clamp-1">RB</span>
      </div>
    </div>
  </div>

  <div
    class="border p-2 rounded-md text-xs line-clamp-2 text-muted btn-outline cursor-pointer"
  >
    <div class="flex items-center gap-1">
      <lucide-angular size="12" [img]="icons.Calendar" />
      <span>Registration Deadline:</span>
      <span class="font-semibold">
        {{ tournament().registrationDeadline | date : "mediumDate" }}
      </span>
    </div>
    <div class="flex items-center gap-1">
      <lucide-angular size="12" [img]="icons.Calendar" />
      <span>Tournament StartDate:</span>
      <span class="font-semibold">
        {{ tournament().startDate | date : "mediumDate" }}
      </span>
    </div>
  </div>

  <div class="flex gap-1 mt-auto">
    @if (isOrganizer()) {
    <button
      (click)="onEdit($event)"
      class="btn btn-outline flex justify-center items-center flex-1"
    >
      <lucide-angular size="15" [img]="icons.Edit" />
      <span>Edit</span>
    </button>
    <button (click)="onDelete($event)" class="btn btn-destructive">
      <lucide-angular size="15" [img]="icons.Trash2" />
    </button>
    } @if (isUser()) {
    <button
      (click)="onView($event)"
      class="btn btn-secondary flex justify-center items-center flex-1"
    >
      <span>View</span>
    </button>
    <button
      (click)="onJoin($event)"
      class="btn btn-primary flex justify-center items-center"
    >
      <span>Join</span>
    </button>
    } @if(isPublic()){
    <button
      (click)="onView($event)"
      class="btn btn-secondary flex justify-center items-center flex-1"
    >
      <span>View</span>
    </button>
    }
  </div>
</div>
