<div class="relative" data-cy="profile-dropdown">
  <button class="flex cursor-pointer items-center gap-2 p-1 rounded-full" (click)="toggleDropdown()"
    data-cy="profile-dropdown-button">
    <img [src]="user.profilePictureUrl" alt="Profile" class="w-10 h-10 rounded-full border-2 object-contain"
      data-cy="profile-avatar" />
  </button>

  @if (open()) {
  <div class="absolute card p-1 top-12 right-0 w-48 z-50" data-cy="profile-dropdown-menu">
    <div class="px-4 py-2 border-b" data-cy="profile-info">
      <p class="text-sm font-medium truncate" data-cy="profile-name">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="text-xs truncate text-muted" data-cy="profile-email">{{ user.email }}</p>
    </div>

    <div class="py-1" data-cy="profile-actions">
      <button routerLink="/profile"
        class="w-full px-4 py-2 text-left text-sm flex items-center gap-3 cursor-pointer btn-outline rounded-md"
        data-cy="profile-link">
        <lucide-angular [img]="icons.UserCircle2" class="w-4 h-4" data-cy="profile-icon"></lucide-angular>
        Profile
      </button>
      <button (click)="logout()"
        class="w-full px-4 py-2 text-left text-sm flex items-center gap-3 cursor-pointer btn-outline rounded-md"
        data-cy="logout-button">
        <lucide-angular [img]="icons.LogOut" class="w-4 h-4" data-cy="logout-icon"></lucide-angular>
        Logout
      </button>
    </div>
  </div>
  }
</div>