<div class="relative">
  <button
    class="flex cursor-pointer items-center gap-2 p-1 rounded-full"
    (click)="toggleDropdown()"
  >
    <img
      [src]="user.profilePictureUrl"
      alt="Profile"
      class="w-10 h-10 rounded-full border-2 object-contain"
    />
  </button>

  @if (open()) {
  <div class="absolute card p-1 top-12 right-0 w-48 z-50">
    <div class="px-4 py-2 border-b">
      <p class="text-sm font-medium truncate">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="text-xs truncate text-muted">{{ user.email }}</p>
    </div>

    <div class="py-1">
      <button
        routerLink="/profile"
        class="w-full px-4 py-2 text-left text-sm flex items-center gap-3 cursor-pointer btn-outline rounded-md"
      >
        <lucide-angular
          [img]="icons.UserCircle2"
          class="w-4 h-4"
        ></lucide-angular>
        Profile
      </button>
      <button
        (click)="logout()"
        class="w-full px-4 py-2 text-left text-sm flex items-center gap-3 cursor-pointer btn-outline rounded-md"
      >
        <lucide-angular [img]="icons.LogOut" class="w-4 h-4"></lucide-angular>
        Logout
      </button>
    </div>
  </div>
  }
</div>
