<div
  class="card-tournament flex flex-col justify-between min-h-full gap-4 group cursor-pointer"
  (click)="onView()"
>
  <div class="flex justify-between items-start">
    <div class="flex-1">
      <h3 class="text-xl font-semibold mb-2 group-hover transition-colors">
        {{ tournament().name }}
      </h3>
      <p class="text-sm line-clamp-3">
        {{ tournament().description }}
      </p>
    </div>
    <div
      class="flex space-x-2 opacity-0 group-hover:opacity-100 transition-opacity"
    >
      <button
        (click)="onEdit($event)"
        class="btn btn-sm btn-ghost"
        aria-label="Edit tournament"
      >
        <lucide-angular [img]="icons.SquarePen" size="16" />
      </button>
      <button
        (click)="onDelete($event)"
        class="btn btn-sm btn-destructive"
        aria-label="Delete tournament"
      >
        <lucide-angular [img]="icons.Trash2" size="16" />
      </button>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-4 text-sm">
      <div class="flex items-center space-x-1">
        <lucide-angular [img]="icons.Users" size="16" />
        <span>{{ tournament().teamCount }}/{{ tournament().maxTeams }}</span>
      </div>
      <div class="flex items-center space-x-1">
        <lucide-angular [img]="icons.CalendarDays" size="16" />
        <span>{{ tournament().startDate | date : "MMMM d, y, hh:mm a" }}</span>
      </div>
    </div>
    <span
      class="badge"
      [ngClass]="{
        'badge-success': tournament().status === 'active',
        'badge-secondary': tournament().status === 'draft',
        'badge-primary': tournament().status === 'completed'
      }"
    >
      {{ tournament().status }}
    </span>
  </div>
</div>
