<div
  class="card-tournament flex flex-col h-full w-full group cursor-pointer"
  (click)="onView()"
>
  <div class="tournament-banner relative overflow-hidden rounded-sm">
    @if (tournament().bannerUrl) {
    <img
      [src]="tournament().bannerUrl"
      [alt]="tournament().name + ' banner'"
      class="w-full h-full object-cover"
    />
    }

    <div
      class="absolute top-3 right-3 flex space-x-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200"
    >
      <button
        (click)="onEdit($event)"
        class="action-button"
        aria-label="Edit tournament"
      >
        <lucide-angular [img]="icons.SquarePen" size="14" />
      </button>
      <button
        (click)="onDelete($event)"
        class="action-button-danger"
        aria-label="Delete tournament"
      >
        <lucide-angular [img]="icons.Trash2" size="14" />
      </button>
    </div>

    <div class="absolute top-3 left-3">
      <span class="status-badge" [attr.data-status]="tournament().status">
        {{ tournament().status | titlecase }}
      </span>
    </div>
  </div>

  <div class="p-4 flex flex-col flex-1">
    <div class="mb-3">
      <h3
        class="text-lg font-semibold mb-2 line-clamp-2 group-hover:text-primary transition-colors"
      >
        {{ tournament().name }}
      </h3>
      <p class="text-sm opacity-70 line-clamp-2">
        {{ tournament().description }}
      </p>
    </div>

    <div class="space-y-2 mb-3 flex-1">
      <div class="flex items-center gap-1">
        <lucide-angular [img]="icons.Users" size="16" />
        <span class="text-sm">
          {{ tournament().teamCount }}/{{ tournament().maxTeams }} Teams
        </span>
      </div>

      <div class="flex items-center gap-1">
        <lucide-angular [img]="icons.CalendarDays" size="16" />
        <span class="text-sm">
          {{ getFormattedDate(tournament().startDate) }}
        </span>
      </div>

      @if (tournament().location) {
      <div class="flex items-center gap-1">
        <lucide-angular [img]="icons.MapPin" size="16" />
        <span class="text-sm">{{ tournament().location }}</span>
      </div>
      } @if (tournament().prize) {
      <div class="flex items-center gap-1">
        <lucide-angular [img]="icons.Trophy" size="16" />
        <span class="text-sm font-medium">
          ${{ tournament().prize | number : "1.0-0" }}
        </span>
      </div>
      }
    </div>

    <div class="pt-3 border-t">
      <div class="flex items-center justify-between">
        <div class="flex items-center space-x-2">
          <div class="">
            <lucide-angular [img]="icons.User" size="14" class="opacity-60" />
          </div>
          <span class="text-xs opacity-60">
            by {{ tournament().organizerName }}
          </span>
        </div>
        <div class="text-xs opacity-40">
          {{ getFormattedDate(tournament().createdAt, true) }}
        </div>
      </div>
    </div>
  </div>
</div>
